
/* GENERICS */

* {
    box-sizing: border-box;
}

body {
    margin: calc(70px + 48px) 48px;
    background: linear-gradient(to bottom, #232723, black);
    color: #e1ece3;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin: 0.25rem 0;
}

a {
    text-decoration: none;
}


/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
    backdrop-filter: blur(6px);
    z-index: 1000;
}

.pfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translateY(3px);
    transition: all 0.2s ease;
    ;
}

.pfp:hover {
    cursor: pointer;
    scale: 1.1;
}



.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #62d089;
    cursor: pointer;
}

.search-bar {
    flex: 1;
    padding: 0 20px;
    height: 35px;
    border-radius: 500px;
    border: none;
    background: #2f2f2f;
    color: #232723;
    max-width: 400px;
    transition: background-color 0.3s ease;
}

.search-bar:focus {
    outline: none;
    background-color: #3f3f3f;
}

.search-bar::placeholder {
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.nav-buttons {
    display: flex;
    gap: 16px;
}

.nav-btn {
    text-decoration: none;
    padding: 8px 20px;
    background: #457e59;
    color: #e1ece3;
    border-radius: 2px;
    transition: background 0.3s ease, transform 0.2s ease;
    line-height: 24px;
}

.nav-btn:hover {
    transform: scale(1.05);
}

.sign-out {
    background: #a8b2a8;
    color: #232723;
}

.sign-out:hover {
    background: #e1ece3;
    color: #232723;
}


/* LOGIN PAGE */

.button {
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: black;
    background-color: #1db954;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    transition: all 0.2s ease;
}

.button:hover {
    transform: translateY(-2px);
    background-color: #1ed760;
    scale: 1.03;
}

.loginSecondaryButton {
    color: white;
    background-color: #333;
}

.loginSecondaryButton:hover {
    scale: 1.03;
    transform: translateY(-2px);
    background-color: #444;
}


/* PAGE HEADER */

.page-heading {
    text-align: center;
    margin-top: 20px;
    color: #e1ece3;
}

.page-heading h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    color: #62d089;
}

.page-heading p {
    font-size: 2rem;
    color: #a8b2a8;
}


/* CARDS SECTION */

.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.profile-card {
    background: #2f2f2f;
    border-radius: 4px;
    height: 150px;
    width: 250px;
    padding: 16px;
    font-size: 1rem;
    color: #e1ece3;
    transition: all 0.2s ease;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}


.profile-card:hover {
    background: #414141;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
    font-size: 1rem;
}

.song-section {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    transform: translateY(6px);
}

.song-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.songInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;
}

.song-title {
    font-size: 0.9rem;
}

.song-artist {
    font-style: italic;
    font-size: 0.8rem;
}

.loginButton {
    display: block;
    margin-top: 12px;
}

.mainLogin {
    text-align: center;
}

.QRContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QRCode {
    width: 200px;
    height: 200px;
}

